<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>欢迎访问股票管理系统</title>

		{% block css%}

		{% endblock css%}
	</head>

	<body>
		<div id="wrapper">
			<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                            {% if user.is_authenticated %}
							<img width="48px" height="48px" alt="image" class="img-circle" src="{{MEDIA_URL}}{{userimg}}" />
							{% else %}
							<img width="48px" height="48px" alt="image" class="img-circle" src="{% static 'myShare/img/profile_small.jpg' %}" />
							{% endif %}
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">
                                        {% if user.is_authenticated %}
                                        {{onlinename}}
                                        {% else %}
                                        游客
                                        {% endif %}
                                    </strong>
                                </span>
                                <span class="text-muted text-xs block">
                                    {% if user.is_authenticated %}
                                        {% if user.is_superuser %}
                                            管理员
                                        {% else %}
                                            用户
                                        {% endif %}
                                    {% else %}
                                        用户
                                    {% endif %}
                                    <b class="caret"></b>
                                </span> </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="{% url 'myShare:userinfo' %}">个人信息</a></li>
                                <li><a href="contacts.html">联系方式</a></li>
                                <li><a href="mailbox.html">邮箱</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'myShare:quit' %}">退出登录</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                      <img src="{% static 'myShare/img/00_03.png' %}" width="38" height="35" alt=""/> </div>
                    </li>
                    <li>
                        <a href="{% url 'myShare:index' %}"><i class="fa fa-th-large"></i> <span class="nav-label">首页</span> </a>
                  </li>
                    <li>


                  <li class="{{shouyi}}">
                        <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">收益</span><span class="fa arrow"></span></a>

                      <ul class="nav nav-second-level">
                            <li class="{{shouyi1}}"> <a href="{% url 'myShare:shouyi1' %}">收益概况</a></li>
                            <li class="{{shouyi2}}"><a href="{% url 'myShare:shouyi2' %}">历史收益</a></li>
                            <li class="{{shouyi3}}"><a href="{% url 'myShare:shouyi3' %}">收益明细</a></li>
                      </ul>




                  </li>
                    <li class="{{fenxi}}">
                      <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">分析</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="{{fenxi2}}"><a href="{% url 'myShare:fenxi2' %}">股票分析</a></li>
                            <li class="{{fenxi1}}"><a href="{% url 'myShare:fenxi1' %}">收益分析</a></li>
                            <li class="{{fenxi3}}"><a href="{% url 'myShare:fenxi3' %}">客户分析</a></li>
                            <li class="{{fenxi4}}"><a href="{% url 'myShare:fenxi4' %}">交易记录</a></li>
                      </ul>
                    </li>
                    <li class="{{caiwu}}">
                        <a href="{% url 'myShare:caiwu' %}"><i class="fa fa-envelope"></i> <span class="nav-label">财务 </span></a>

                  </li>
                    <li class="{{kehu}}">
                        <a href="{% url 'myShare:order' %}"><i class="fa fa-pie-chart"></i> <span class="nav-label">订单</span>  </a>
                    </li>
                    <li class="{{fuwu}}">
                        <a href="{% url 'myShare:fuwu' %}"><i class="fa fa-flask"></i> <span class="nav-label">服务</span></a>
                    </li>
                     <li class="{{xiaoxi}}">
                        <a href="{% url 'myShare:xiaoxi' %}"><i class="fa fa-edit"></i> <span class="nav-label">消息</span></a>
                  </li>
                    <li class="{{shezhi}}">
                        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">设置</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="{{shezhi1}}"><a href="{% url 'myShare:shezhi1' %}">基础设置</a></li>
                            <li class="{{shezhi2}}"><a href="{% url 'myShare:shezhi2' %}">提现设置</a></li>
                        </ul>
                    </li>
                    <li>
                      <ul class="nav nav-second-level collapse">
                        <li><a href="search_results.html">搜索结果</a></li>
                            <li><a href="lockscreen.html">锁屏</a></li>
                            <li><a href="invoice.html">发票</a></li>
                            <li><a href="login.html">登录</a></li>
                            <li><a href="login_two_columns.html">登录 v.2</a></li>
                            <li><a href="forgot_password.html">忘记密码</a></li>
                            <li><a href="register.html">注册</a></li>
                            <li><a href="404.html">404</a></li>
                            <li><a href="500.html">500</a></li>
                            <li><a href="empty_page.html">空白页面</a></li>
                        </ul>
                    </li>
              </ul>

            </div>
        </nav>

			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="搜索关键字..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <span class="m-r-sm text-muted welcome-message">欢迎来到 股票管理系统</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="{% static 'myShare/img/a7.jpg' %}">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right">46小时前</small>
                                    <strong>李文俊</strong> 关注了 <strong>刘海洋</strong>. <br>
                                    <small class="text-muted">3 天 前- 10.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="{% static 'myShare/img/a4.jpg' %}">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right text-navy">5小时前</small>
                                    <strong>王昆</strong> 关注了 <strong>李文俊</strong>. <br>
                                    <small class="text-muted">昨天下午1:21 - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="dropdown-messages-box">
                                <a href="profile.html" class="pull-left">
                                    <img alt="image" class="img-circle" src="{% static 'myShare/img/profile.jpg' %}">
                                </a>
                                <div class="media-body ">
                                    <small class="pull-right">23小时前</small>
                                    <strong>张三</strong> 赞了 <strong>李四</strong>. <br>
                                    <small class="text-muted">2天前 - 11.06.2014</small>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="mailbox.html">
                                    <i class="fa fa-envelope"></i> <strong>查看更多消息</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="mailbox.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> 您有 16 条未读通知
                                    <span class="pull-right text-muted small">4 分钟 前</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="profile.html">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 个新粉丝
                                    <span class="pull-right text-muted small">12 分钟 前</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="grid_options.html">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> 服务器重启
                                    <span class="pull-right text-muted small">4 分钟 前</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>查看更多通知</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> 退出登录
                    </a>
                </li>

            </ul>

        </nav>
        </div>

				{% block main%}

        		{% endblock main%}
				<div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> goopay &copy; 2014-2015
            </div>
        </div>

			</div>

		</div>

		{% block javascript%}

		{% endblock javascript%}
	</body>

</html>